@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.App {
  display:Flex;
  flex-direction: column;
  justify-content: center;
  align-items:Center;
}
.inputTask {
  max-width: 12rem;
}
.btn_addTask {
  
  height:3rem;
  padding:0 1rem;
}